* {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
}

.clearButton {
    background-color: firebrick;
    border-radius: 12px;
}

.operatorButton {
    background-color: darkolivegreen;
    border-radius: 12px;
}
.operationsButton {
    background-color: goldenrod;
    border-radius: 12px;
}

.numberButtons {
    background-color: dimgray;
    border-radius: 12px;
}

/*
using body as a container, and needed to set the height to help center the div
within.
*/

body {
    margin: 0;
    padding: 0;
    background-color: #FCEABB;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
/*
Center a child div via flexbox by making the parent container a flex
container and then justify-content and align-items properties
to center.
*/

.calculatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid 1px black;
    width: 30rem;
    height: 30rem;
    background-color: black;
    border-radius: 12px;
    
}
.calculatorOutline {
    background-color: black;
    width: 25rem;
    height: 25rem; 
    
}

.calculatorDisplay {
    width: 25rem;
    height: 5rem;
    background-color: darkgray;
    border-radius: 12px;
    margin-bottom: 3px;
}
.calculatorButtons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    height: 20rem;
    grid-gap: 3px;
    outline-style: none;

    
}

.clearButton {
    grid-column: 1 / 4;
   
}
.operatorButton {
    grid-column: 3 / 5;
}

#calculatorDisplayTextTop {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-right: 10px;
}

#calculatorDisplayTextBottom {
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-right: 10px;
}